name: CI

env:
  IMAGE_NAME: activemq-artemis-operator
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 0 * * 0'
  workflow_dispatch:
    inputs:
      skipTests:
        description: 'Skip Tests'
        required: false
        default: false
        type: boolean
      skipDOTests:
        description: 'Skip DO Tests'
        required: false
        default: false
        type: boolean
      runTutorials:
        description: 'Run tutorials'
        required: false
        default: false
        type: boolean

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Set up env
        run: |
          echo "HOSTNAME=${HOSTNAME}" >> ${GITHUB_ENV}

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "insecure-registries" : [ "${{env.HOSTNAME}}:5000" ]
            }

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23.9'
          cache: true

      - name: Checkout the repo
        uses: actions/checkout@v6

      - name: Start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          cpus: 2
          memory: 4g
          addons: ingress
          insecure-registry: ${{env.HOSTNAME}}:5000

      - name: Enable minikube ingress-nginx ssl-passthrough
        run: >
          minikube kubectl -- patch deployment -n ingress-nginx ingress-nginx-controller --type='json' -p='[{"op": "add", "path": "/spec/template/spec/containers/0/args/-", "value":"--enable-ssl-passthrough"}]'

      - name: Check go.mod and go.sum files
        run: go mod tidy && git status && git diff-index --quiet HEAD --

      - name: Check generate files
        run: make build && make generate-deploy && make bundle && make helm-charts && git status && git diff && git diff-index --quiet HEAD --

      - name: Build the image
        run: |
          podman build --build-arg TARGETOS=linux --build-arg TARGETARCH=amd64 --label quay.expires-after=90d --label git-sha=$GITHUB_SHA --no-cache --platform linux/amd64 --manifest $IMAGE_NAME:dev.latest .

      - name: Push the image into minikube
        run: |
          podman tag $IMAGE_NAME:dev.latest ${HOSTNAME}:5000/$IMAGE_NAME:dev.latest
          podman push --tls-verify=false ${HOSTNAME}:5000/$IMAGE_NAME:dev.latest

      - name: Install cert-manager and trust-manager
        run: |
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade -i -n cert-manager cert-manager jetstack/cert-manager --set installCRDs=true --create-namespace --wait
          helm upgrade -i -n cert-manager trust-manager jetstack/trust-manager --set secretTargets.enabled=true --set secretTargets.authorizedSecretsAll=true --wait
      
      - name: Install OLM
        run: |
          ./bin/operator-sdk olm install
          minikube kubectl -- wait pod -l app=catalog-operator --for=condition=Ready --namespace=olm --timeout=2m
          minikube kubectl -- wait pod -l app=olm-operator --for=condition=Ready --namespace=olm --timeout=2m
          minikube kubectl -- wait --for=condition=Established crd/catalogsources.operators.coreos.com --timeout=2m
          minikube kubectl -- wait --for=condition=Established crd/subscriptions.operators.coreos.com --timeout=2m

      - name: Execute tests
        if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' && !inputs.skipTests }}
        run: IMG="${HOSTNAME}:5000/$IMAGE_NAME:dev.latest" make test-mk-v

      - name: Execute do tests
        if: ${{ github.event_name != 'workflow_dispatch' || !inputs.skipDOTests }}
        run: IMG="${HOSTNAME}:5000/$IMAGE_NAME:dev.latest" make test-mk-do-v

      - name: Run helm-charts tests
        run: |
          helm install --set controllerManager.manager.image.repository=${HOSTNAME}:5000/$IMAGE_NAME --set controllerManager.manager.image.tag=dev.latest my-broker-operator --set crds.keep=false helm-charts/arkmq-org-broker-operator/
          helm uninstall my-broker-operator

      - name: Run scorecard tests
        run: make scorecard | tee scorecard.log && ! grep 'Suggestions' scorecard.log

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18.x

      - name: Checkout arkmq-org.github.io
        uses: actions/checkout@v6
        with:
          repository: arkmq-org/arkmq-org.github.io
          path: arkmq-org.github.io

      - name: Build the docs
        run: >
          rm -rf arkmq-org.github.io/docs &&
          cp -r docs arkmq-org.github.io &&
          rm -rf arkmq-org.github.io/examples &&
          cp -r examples arkmq-org.github.io &&
          cd arkmq-org.github.io &&
          npm install && npm run build

      - name: Set up QEMU
        if: ${{ github.event_name == 'push' }}
        uses: docker/setup-qemu-action@v3

      - name: Build the image for arm64
        if: ${{ github.event_name == 'push' }}
        run: |
          podman build --build-arg TARGETOS=linux --build-arg TARGETARCH=arm64 --label quay.expires-after=90d --label git-sha=$GITHUB_SHA --no-cache --platform linux/arm64 --manifest $IMAGE_NAME:dev.latest .

      - name: Push the dev image
        if: ${{ github.event_name == 'push' }}
        run: |
          COMMIT_TAG=dev.$(date +%Y%m%d).$(git rev-parse --short "$GITHUB_SHA")
          podman login --username=${{ secrets.QUAY_USERNAME }} --password=${{ secrets.QUAY_PASSWORD }} quay.io
          podman manifest push $IMAGE_NAME:dev.latest docker://quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME:$COMMIT_TAG
          podman manifest push $IMAGE_NAME:dev.latest docker://quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME:dev.latest

      - name: Build the bundle image
        run: podman build --file bundle.Dockerfile --label quay.expires-after=90d --label git-sha=$GITHUB_SHA --tag $IMAGE_NAME-bundle:dev.latest .

      - name: Push the bundle image
        if: ${{ github.event_name == 'push' }}
        run: |
          COMMIT_TAG=dev.$(date +%Y%m%d).$(git rev-parse --short "$GITHUB_SHA")
          podman login --username=${{ secrets.QUAY_USERNAME }} --password=${{ secrets.QUAY_PASSWORD }} quay.io
          podman tag $IMAGE_NAME-bundle:dev.latest quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME-bundle:$COMMIT_TAG
          podman push quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME-bundle:$COMMIT_TAG
          podman tag $IMAGE_NAME-bundle:dev.latest quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME-bundle:dev.latest
          podman push quay.io/${{ secrets.QUAY_NAMESPACE }}/$IMAGE_NAME-bundle:dev.latest

      - name: Build and push catalog image
        run: |
          make CATALOG_IMG=${HOSTNAME}:5000/arkmq-org-broker-operator-catalog:dev.latest catalog-build catalog-push

      - name: Create and verify catalog source
        run: |
          sed "s~image:.*~image: ${HOSTNAME}:5000/arkmq-org-broker-operator-catalog:dev.latest~" examples/catalog/catalog-source.yaml | minikube kubectl -- create -f -
          minikube kubectl -- wait catalogsource arkmq-org-broker-operator-catalog-source --for=jsonpath='{.status.connectionState.lastObservedState}'=READY --namespace=operators --timeout=3m ||
          minikube kubectl -- get catalogsource arkmq-org-broker-operator-catalog-source --namespace operators -o yaml
          minikube kubectl -- wait pod -l olm.catalogSource=arkmq-org-broker-operator-catalog-source --for=condition=Ready --namespace=operators --timeout=3m ||
          minikube kubectl -- describe pod -l olm.catalogSource=arkmq-org-broker-operator-catalog-source --namespace=operators

      - name: Create and verify subscription
        run: |
          minikube kubectl -- create -f ./examples/catalog/subscription.yaml
          minikube kubectl -- wait subscription arkmq-org-broker-operator-subscription --for=jsonpath='{.status.installplan.kind}'=InstallPlan --namespace=operators --timeout=3m ||
          minikube kubectl -- get subscription arkmq-org-broker-operator-subscription --namespace=operators -o yaml
          minikube kubectl -- wait installplan -l operators.coreos.com/arkmq-org-broker-operator.operators='' --for=condition=Installed --namespace=operators --timeout=3m ||
          minikube kubectl -- get installplan -l operators.coreos.com/arkmq-org-broker-operator.operators='' --namespace=operators -o yaml
          minikube kubectl -- wait pod -l name=activemq-artemis-operator --for=condition=Ready --namespace=operators --timeout=3m ||
          minikube kubectl -- get pod -l name=activemq-artemis-operator --namespace=operators -o yaml

      - name: Get changed files in tutorials
        id: changed-tutorial-files
        if: github.event_name == 'pull_request'
        uses: tj-actions/changed-files@v47
        with:
          files: docs/tutorials/**

      - name: Install markdown-runner
        if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && inputs.runTutorials) || (github.event_name == 'pull_request' && steps.changed-tutorial-files.outputs.any_changed == 'true')
        run: go install github.com/arkmq-org/markdown-runner@latest

      - name: run the tutorials on the image
        if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && inputs.runTutorials) || (github.event_name == 'pull_request' && steps.changed-tutorial-files.outputs.any_changed == 'true')
        run: |
          minikube delete
          find docs/tutorials -type f -exec sed -i "s|^minikube start|minikube start --insecure-registry=$HOSTNAME:5000|" {} +
          sed -i "s|image: quay.io/arkmq-org/activemq-artemis-operator:.*|image: ${HOSTNAME}:5000/$IMAGE_NAME:dev.latest|" deploy/operator.yaml
          markdown-runner docs/tutorials --view ci
